{{docs-header}}

{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section 'Introduction'}}
    {{nav.item 'Introduction' 'docs.index'}}

    {{nav.section 'Components'}}
    {{nav.item 'Image Cropper' 'docs.components.image-cropper'}}
    {{nav.item 'On Event' 'docs.components.image-cropper-on'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class='docs-container'>
      <div class='font-sans text-black leading-normal docs-section'>
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
